@model Search;

<div class="card">
    <div class="img-container">
        <div class="img-blur" style="background-image: url(@Model.Poster)"></div>
        <img src="@Model.Poster" class="card-img-top" alt="@Model.Title">
    </div>
    <div class="card-body">
        <a asp-action="Info" asp-controller="Home" asp-route-request="@Model.Title">
            <h5 class="card-title">@Model.Title</h5>
        </a>
        <p class="card-text">@Model.Year</p>
        <a movie-model="@Model" movie-type="Full"></a>
        <a movie-model="@Model" movie-type="Modal"></a>
    </div>
</div>